body {
    /*background-color: #1b1b1b;*/
    /*color: #f51128;*/
    height: 100vh;
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


form {
    text-shadow: 2px 2px black;
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    text-align: center;
    width: 80vw;
    overflow: hidden;
}


fieldset {
    border: none;
    display: grid;
    padding: 0.5rem 0;
}

input, textarea {
    background-color: whitesmoke;
    width: 100%;
    margin: 0;
    min-height: 2em;
    border: 1px solid;
    border-color:  #1b1b32;
    color: #1b1b1b;
    font-family: Arial, Helvetica, sans-serif;
}

textarea, button {
    font-size: large;
}

button {
    border: none;
    border-radius: 7px;
    height: 2.5rem;
    background-color: #1c448c;
    color: whitesmoke;
    width: 40%;
    margin: 0.5rem auto;
}

label {
    font-size:medium;
    justify-self: center;
    /*text-align: justify;*/
    margin: 1rem 0;
    width: fit-content;
    color: white;
}

h1
 {
    color: white;
    /*margin: 1em auto;*/
    text-align: center;
}


.bg {
    background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/main_image_star-forming_region_carina_nircam_final-5mb.jpg);
    -webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
  }